.App {
    padding: 20px;
    display: flex;
}

.Content {
    background-color: #f1f5f8;
    min-height: 700px;
    width: 86%;
    padding: 20px;
    border-radius: 30px;
}

.HeaderContent {
    padding-bottom: 20px;
    border-bottom: 1px solid #dee7ef;
    color: #57606e;
    margin-bottom: 30px;
}

.linkBreadcumb {
    text-decoration: underline;
    color: #2e51bb;
}